<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a href="{% url 'home' %}" class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
  </li>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Client
    </a>
    <ul class="dropdown-menu">
      <li class="nav-item">
        <a href="{% url 'create_client' %}" class="nav-link {% if request.resolver_match.url_name == 'create_client' %}active{% endif %}">Form</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'client_list' %}" class="nav-link {% if request.resolver_match.url_name == 'client_list' %}active{% endif %}">List</a>
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Proposal
    </a>
    <ul class="dropdown-menu">
      <li class="nav-item">
        <a href="{% url 'create_proposal' %}" class="nav-link nav-link {% if request.resolver_match.url_name == 'create_proposal' %}active{% endif %}">Form</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'proposal_list' %}" class="nav-link nav-link nav-link {% if request.resolver_match.url_name == 'proposal_list' %}active{% endif %}">List</a>
      </li>
    </ul>
  </li>
</ul>