{% extends 'base.html' %}
{% block content %}

<h3 class="fw-bold">{{ form_title }}</h3>
<form method="post" id="proposalForm" class="my-3">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="mb-3">
        {{ form.client.label_tag }}
        {{ form.client }}
    </div>
    <div class="mb-3">
        {{ form.audit_type.label_tag }}
        {{ form.audit_type }}
    </div>

    <input type="hidden" name="fye_data" id="fye-data">

    <h3 class="mt-4">Fiscal Year End</h3>
    <div id="fye-fields" class="d-flex flex-column gap-2">
        <div class="fye-row d-flex gap-2">
            <input type="date" class="fye-input form-control">
            <button type="button" class="btn btn-outline-danger delete-btn">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </div>

    <button type="button" id="add-fye" class="btn btn-outline-secondary mt-2 mb-3">
        <i class="bi bi-plus-lg"></i> Tambah Tahun Buku
    </button>

    <p id="fye-error" class="text-danger mt-2 d-none"></p>

    <div class="mb-3">
        <label for="base" class="form-label">Base Fee</label>
        <input type="text" name="base" id="base-input" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="assist" class="form-label">Base Fee</label>
        <input type="text" name="assist" id="assist-input" class="form-control">
    </div>
    <div class="mb-3">
        <label for="ope" class="form-label">Base Fee</label>
        <input type="text" name="ope" id="ope-input" class="form-control">
    </div>

    {{ form.base_fee }}
    {{ form.assistance_fee }}
    {{ form.ope_fee }}

    <div class="mb-3">
        <label class="form-label">Jumlah Termin</label>
        <select id="termin-count" class="form-select"></select required>
            <option value="">--- Pilih ---</option>
            <option value="2">Dua Termin</option>
            <option value="3">Tiga Termin</option>
            <option value="4">Empat Termin</option>
    </div>

    {{ form.num_termins }}
    {{ form.termin_values }}
    {{ form.total_percentage }}
    {{ form.total_fee }}
    {{ form.termin_fee }}

    <div id="termin-container" class="mb-3"></div>

    <div id="sub-fee-display" class="mb-3"></div>

    <div class="d-flex gap-2 mt-3">
        <button type="submit" class="btn btn-primary flex-fill">Save</button>
        <a href="#" class="btn btn-secondary flex-fill">Cancel</a>
    </div>
</form>

<script>
    var dateArray = {{ existing_dates_json|default:"[]"|safe }}
</script>

<script id="default-termin-opt" type="application/json">
    {
        "2": [50, 50],
        "3": [30, 40, 30],
        "4": [null, null, null, null],
    }
</script>

<script>
    const form = document.getElementById("proposalForm");

    const fyeWrapper = document.getElementById("fye-fields");
    const addFye = document.getElementById("add-fye");
    const hiddenFye = document.getElementById("fye-data");
    const errorFye = document.getElementById("fye-error");

    const terminDefaults = JSON.parse(document.getElementById("default-termin-opt").textContent);
    // Visible Fee
    const baseVisible = document.getElementById("base-input");
    const assistVisible = document.getElementById("assist-input");
    const opeVisible = document.getElementById("ope-input");
    // Hidden Fee
    const baseHidden = document.getElementById("base_fee");
    const assistHidden = document.getElementById("assistance_fee");
    const opeHidden = document.getElementById("ope_fee");
    // Termin
    const numTerminsHidden = document.getElementById("num_termins");
    const terminValHidden = document.getElementById("termin_values");
    const totalPercentHidden = document.getElementById("total_percentage");
    const totalFeeHidden = document.getElementById("total_fee");
    const terminFeeHidden = document.getElementById("termin_fee");

    const idrFormatter = new Intl.NumberFormat("id-ID", {
        minimumFractionDigits: 0,
        maximumFractionDigits: 0,
    });

    let inputElements = [];
    let totalDisplay;
    let warning;

    // Check if hidden field store the correct data
    hiddenFye.value = JSON.stringify(dateArray);

    // Auto-fill + Add + Delete (FYE)
    function renderFye(dates) {
        fyeWrapper.innerHTML = ""; // Clear UI

        dates.forEach((val, i) => {
            const row = document.createElement("div");
            row.className = "d-flex align-items-center gap-2 mb-2";

            row.innerHTML =
                `<input
                    type="date"
                    class="form-control fye-input"
                    value="${val}"
                    style="max=width: 200px;"
                >
                <button type="button"
                class="btn btn-outline-danger btn-sm remove-fye>
                    <i class="bi bit-trash"></i>
                </button>
            `;

            fyeWrapper.appendChild(row);

            row.querySelector(".remove-fye").addEventListener("click", function() {
                dates.splice(i, 1);
                renderFye(dates);
            });
        });

        hiddenFye.value = JSON.stringify(dates);
    }

    addFye.addEventListener("click", function() {
        dateArray.push("");
        renderFye(dateArray);
    });

    // Update (Auto-fill): FYE & Termin
    document.addEventListener("DOMContentLoaded", function() {
        renderFye(dateArray);
    });

    // Submit Validation: FYE & Termin
    form.addEventListener("submit", e => {
        const fyeInputs = document.querySelectorAll("fye-input");

        const values = [];
        let hasError = false;
        const duplicateCheck = new Set();

        fyeInputs.forEach(input => {
            input.classList.remove("is-invalid");
            const val = input.value.trim();

            // Check for empty value(s)
            if(val === "" ) {
                input.classList.add("is-invalid");
            }

            // Check for duplicates
            if(duplicateCheck.has(val.toLowerCase())) {
                input.classList.add("is-invalid");
                hasError = true;
            } else if(val !== "") {
                duplicateCheck.add(val.toLowerCase());
            }

            if(val != "") {
                values.push(val);
            }
        });

        if(hasError) {
            e.preventDefault();
            errorFye.classList.remove("d-none");
            errorFye.textContent = "Error: hapus tahun buku kosong dan duplikat.";
            return;
        }

        errorFye.classList.add("d-none");

        hiddenFye.value = JSON.stringify(values);
    });
</script>

{% endblock %}